.navbar {
    background-color: #9BB491;
}

.quem-somos {
    background-color: #EFEFEF;
}

.margin {
    padding: 30px;
}

.margin-footer {
    padding: 20px 0 20px 0;
}

.parceiros {
    background-color: beige;
}

.bg-footer {
    background-color: black;
    color: blanchedalmond;
}